<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Change Password</title>
<link href="${contextPath}/resources/Static/css/bootstrap.min.css"
	rel="stylesheet">
<link href="${contextPath}/resources/Static/css/common.css"
	rel="stylesheet">
<script src="${contextPath}/resources/Static/js/jquery.validate.min.js"></script>
</head>
<body>

	<c:if test="${username ne null}">
		<form id="logoutForm" method="POST"
			action="${contextPath}/admin/logout">
			<h2>
				Welcome ${username} | <a
					href="javascript:document.forms['logoutForm'].submit()">Logout</a>
			</h2>
		</form>


	</c:if>
	<div class="container">
		<form action="${pageContext.request.contextPath}/admin/changepassword"
			method="post" class="form-horizontal customForm">


			<div class="form-group">
				<div class="col-xs-4">
					<label class="control-label">Username</label> <input type="text"
						id="username" class="form-control" name="username"
						value="${changePasswordForm.getusername}">
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-4">
					<label class="control-label">Old Password</label> <input
						type="text" id="oldPassword" class="form-control"
						name="oldPassword">
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-4">
					<label class="control-label">New Password</label> <input
						type="text" id="newPassword" class="form-control"
						name="newPassword">
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-4">
					<label class="control-label">Confirm Password</label> <input
						type="password" id="confirmPassword" class="form-control"
						name="confirmPassword">
				</div>
			</div>


			<div class="form-group">
				<div class="col-xs-4" style="text-align: center;">

					<button class="btn  btn-danger" type="submit">Submit</button>
					<button class="btn  btn-primary btn-default" type="Reset">Reset</button>
				</div>
			</div>
			<div class="form-group ${error ne null ? 'has-error' : ''}">
				<table>
					<c:if test="${errorMessage ne null}">
						<tr>
							<td colspan="2">${errorMessage}</td>
						</tr>
					</c:if>
					<tr>
				</table>


			</div>
		</form>
	</div>
</body>
</html>