<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Meeting Rooms Management Page</title>

<link href="${contextPath}/resources/Static/css/bootstrap.min.css"
	rel="stylesheet">
<link href="${contextPath}/resources/Static/css/common.css"
	rel="stylesheet">
<link href="${contextPath}/resources/Static/css/hello.css"
	rel="stylesheet">


<link rel="stylesheet"
	href="${contextPath}/resources/Static/css//bootstrap-theme.min.css">
<script src="${contextPath}/resources/Static/js/jquery.min.js"></script>
<script src="${contextPath}/resources/Static/js/bootstrap.min.js"></script>
<script src="${contextPath}/resources/Static/js/hello.js"></script>
<script
	src="${contextPath}/resources/Static/js/bootstrap-datetimepicker.js"></script>

<style type="text/css">
.bs-example {
	margin: 20px;
}
</style>
</head>

<body>


	<div class="container">

		<c:if test="${not empty msg}">
			<div class="alert alert-${css} alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<strong>${msg}</strong>
			</div>
		</c:if>

		<div>
			<form method="POST" action="${contextPath}/admin/search"
				class="form-signin customForm">
				<h3 class="form-heading header-Form">User Search</h3>
				<div class="form-group ${error != null ? 'has-error' : ''}">
					<input name="meetingroom" type="text" class="form-control"
						placeholder="Room Name" autofocus /> <input name="firstname"
						type="text" class="form-control" placeholder="First Name"
						autofocus /> <input name="location" type="text"
						class="form-control" placeholder="Location" /> <input
						name="capacity" type="text" class="form-control"
						placeholder="Cabacity" />
					<hr />


					<div class="form-group" style="margin-top: 10px;">
						<button class="btn btn-primary" type="submit">Search</button>

					</div>
				</div>
			</form>
			<br />
			<h1>All Meeting Rooms</h1>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Room name</th>
						<th>Location</th>
						<th>Capacity</th>
						<th>Equipment</th>
						<th>Meetings</th>
						<th>Owner</th>
						<th>Actions</th>
					</tr>
				</thead>

				<c:forEach var="user" items="${allUsers}">
					<tr>
						<td>${room.roomname}</td>
						<td>${room.location}</td>
						<td>${room.capacity}</td>
						<td>${room.equipment}</td>
						<td>${room.owner}</td>
						<td>


							<button class="btn btn-info"
								onclick="'location.href='${roomInfo}'">Details</button>
							<button class="btn btn-primary"
								onclick="location.href='${editRoom}'">Edit</button>
							<button class="btn btn-danger"
								onclick="this.disabled=true;post('${deleteRoom}')">Delete</button>
						</td>
					</tr>
				</c:forEach>
			</table>
		</div>
</body>
</html>
